In [ ]:
import duckdb
import pandas as pd

In [ ]:
# connect to local duckdb instance
raw_db = duckdb.connect('raw.duckdb')

In [ ]:
# membership instance events
raw_df = pd.read_sql("select * from membership_instance_events", raw_db)

In [ ]:
raw_df.head(n = 5)

In [ ]:
transformed_df = (raw_df
                    .filter(['id', 'attributes.membership_instance_id', 'attributes.action_type', 'attributes.action_datetime'])
                    .rename(columns={
                        'attributes.membership_instance_id': 'membership_instance_id',
                        'attributes.action_type': 'type',
                        'attributes.action_datetime': 'datetime'
                    }))

transformed_df

In [ ]:
transformed_df['datetime'] = pd.to_datetime(transformed_df.datetime)

In [ ]:
transformed_db = duckdb.connect('transformed.duckdb')

In [ ]:
table = 'membership_instance_events'
transformed_db.sql(f'drop table if exists {table}')
transformed_db.sql(f'create table {table} as select * from transformed_df')

In [ ]:
transformed_db.sql(f'select * from {table}')

In [ ]:
transformed_db.sql(f'select distinct type from {table}')